<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{commons/common::htmlHead}"/>
</head>
<body>
<!-- Side Navbar -->
<div th:replace="~{commons/common::sideBar(activeUrl='tables')}"/>
<div class="page">
    <!-- navbar-->
    <div th:replace="~{commons/common::topBar}"/>
    <!-- Breadcrumb-->
    <div th:replace="~{commons/common::backToIndexBar(currentMenu='tables')}"/>
    <section class="forms">
        <div class="container-fluid">
            <!-- Page Header-->
            <header>
                <h1 class="h3 display">喝水 </h1>
            </header>
            <div class="row">
                <div class="col-lg-8">
                    <div class="card">
                        <div class="card-header d-flex align-items-center">
                            <h4>添加喝水记录</h4>
                        </div>
                        <div class="card-body">
                            <form class="form-inline" th:action="@{/addDrink}" method="post">
                                <div class="form-group">
                                    <label for="inlineFormInput" class="sr-only">name</label>
                                    <input id="inlineFormInput" name="drinkName" type="text" placeholder="喝水人"
                                           class="mr-3 form-control">
                                </div>
                                <div class="form-group">
                                    <label for="inlineFormInputGroup" class="sr-only">desc</label>
                                    <input id="inlineFormInputGroup" name="drinkAmount" type="text" placeholder="喝水量"
                                           class="mr-3 form-control form-control">
                                </div>
                                <div class="form-group">
                                    <label for="inlineFormInputGroup" class="sr-only">category</label>
                                    <input id="inlineFormInputGroup2" name="drinkTime" type="text" placeholder="喝水时间"
                                           class="mr-3 form-control form-control">
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="+" class="mr-3 btn btn-primary">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div th:replace="~{commons/common::footBar}"/>
</div>
</body>
</html>